@page
@model Bank.Application.Host.Pages.Login

@{
    ViewBag.Title = "Авторизация";
    Layout = null;
}

<h1>Авторизация</h1>

<form method="post" asp-page-handler="Login">
    <label for="login">Логин:</label>
    <input type="text" id="login" name="login" required />
    <br />

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required />
    <br />

    <button type="submit">Войти</button>
</form>



